.place__title {
    width: 460px;
    font-size: 72px;
    line-height: 78px;
    font-weight: 900; /* подкючить */
  grid-column: 1;
  grid-row: 1;
  margin: 0;
    outline: 2px solid orange;
}


@media screen and (max-width: 321px)
{

.place__title {
  width: 100%;
  max-width: 288px;
  font-size: 32px;
  line-height: 35px;
  
  }
}