@font-face {
    src: url(../fonts/Inter-Regular.woff2);
    font-family: 'Inter';
}

.page {
    background-color: #2A2C2F;
    color: white;
    margin: 0; /* 8px body yet*/
    width: 100%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}