.photo-grid__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); /*minmax(284px, 1fr)*/
    grid-gap: 16px;
    list-style-type: none;/*calc((1184px -(284px * 3))/4)*/
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 320px)
{
    .photo-grid__list {
        padding: 0;
        margin: 0;
        grid-template-columns: auto;
        box-sizing: border-box; 
        grid-gap: 12px;

    }
}