.page__photo-grid-section {
  max-width: 1184px;
  padding: 0;
  margin: 0 auto 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .page__photo-grid-section {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .page__photo-grid-section {
    width: 100%;
    padding: 0 24px;
    margin: 0 0 88px 0;
  }
}

@media screen and (max-width: 320px) {
  .page__photo-grid-section {
    width: 100%;
    padding: 0 16px;
    margin: 0 0 64px 0;
  }
}
