.page__header {
  width: 1184px;
  padding: 28px 0 0 0;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 321px)
{
  .page__header {
    width: 100%;    
    max-width: 288px;
    margin: 0 auto;
   /* padding: 28px 0 42px;*/
    box-sizing: border-box;
  }
}