.page__header {
  width: 1184px;
  padding: 28px 0 0 0;  
}

@media screen and (max-width: 320px)
{
  .page__header {
    width: 100%;    
    /* max-width: 288px; с 288 начнется скролл */
    margin: 0 auto;
    padding: 16px 16px 48px;
    box-sizing: border-box;
  }
}