.page__header {
  max-width: 1184px;
  padding: 28px 0 0 0;
  margin: 0 auto 56px;
  min-height: 52px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .page__header {
    width: 100%;
    max-width: calc(1279px - (48px * 2));
    padding: 28px 48px 0;
    margin: 0 auto 48px;
  }
}

@media screen and (max-width: 1024px) {
  .page__header {
    margin: 0 0 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .page__header {
    margin: 0;
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 320px) {
  .page__header {
    margin: 0;
    padding: 16px 16px 50px;
    min-height: 42px;
  }
}
