.intro__list {
    max-width: 720px;
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 320px)
{

}