.header {

    /*
    display: grid;
    padding: 28px 0 0 0;
    grid-template-columns: 176px 5fr repeat(2, min-content);
    
    outline: 2px solid sandybrown;
    align-items: end;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
