.page__intro-section
{

    width: 984px;
    margin: 0 auto;    
  margin-bottom: 92px;
  
  box-sizing: border-box;
}



@media screen and (min-width: 991px) and (max-width: 1024px) {
    .page__intro-section {
    }
  }

@media screen and (min-width: 769px) and (max-width: 991px)
{
    .page__intro-section {
    }

}

@media screen and (max-width: 768px)
{
.page__intro-section {
    }
}

@media screen and (max-width: 320px)
{
    .page__intro-section {
    width: 100%;
    margin: 0 0 64px 0;
    padding: 0 16px;
  }
}