.footer__link {
  font-size: 16px;
  line-height: 18px;
  /*outline: 2px solid purple;*/
  color: white;
  text-decoration: none;
  margin: 0;
}

.footer__link:hover {
  cursor: url(../../../images/cursor-pointer.svg), pointer;
  opacity: .8;
}

@media screen and (max-width: 560px) {
  .footer__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
  }
}
