.lead__title {
  box-sizing: border-box;
  max-width: 768px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 32px 0;
}
@media screen and (max-width: 1024px) {
  .lead__title {
    padding: 0 0 34px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 100%;

    padding: 0 0 32px 0;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 500px;
    font-size: 65px;

    margin: 0;
  }
}

@media screen and (max-width: 535px) {
  .lead__title {
    max-width: 410px;

    margin: 0;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 100%;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
  }
}
