.lead__title {
    color: white;
    width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto;
    outline: 2px solid grey;
    text-align: center;
    padding-bottom: 32px;
}
@media screen and (max-width: 768px)
{
    .lead__title {
    }
}


@media screen and (max-width: 321px)
{
    .lead__title {
        width: 100%;
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 16px;
    }
}