.footer__links {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 768px)
{
    .footer__links {
    /*grid-template-columns: repeat(5, min-content);
    grid-column-gap: 18px;*/
  }
}

@media screen and (max-width: 320px)
{
    .footer__links {
    width: 100%;
    flex-direction: column;
    /*grid-template-columns: repeat(5, min-content);
    grid-column-gap: 18px;*/
  }
}