.place__link {
  color: white;
  text-decoration: underline;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin: 0;
}

.place__link:hover {
  cursor: url(../../../images/cursor-pointer.svg), pointer;
}
