.cover__title {
  max-width: 560px;
  text-align: center;
  padding: 245px 0 0 0;
  font-size: 72px;
  line-height: 78px;
  font-weight: 900;
  font-style: normal;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 100%;
    line-height: 76px;
    padding: 195px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding: 115px 0 0 0;
  }
}

@media screen and (max-width: 560px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding: 115px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding: 33px 0 0 0;
  }
}
