.footer {
    display: flex;
  
}

@media screen and (max-width: 768px) {
    .footer {
        justify-content: space-between;
        flex-direction: row;
    }
  }

@media screen and (max-width: 320px) {
    .footer {
        justify-content: flex-start;
        flex-direction: column;
    }
  }
  
