.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 690px) {
  .footer {
    justify-content: flex-start;
    flex-direction: column;
  }
}
